.main{
    background-color: rgba(242,242,242,0.8);
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

body{
    padding-top: 10px;
    background-image: url(/static/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 2560px 1440px;
    background-position: center;
    background-attachment: fixed;
}

.page-title{
    text-align: center;
}

.main{
    margin-top: 100px;
    border-radius: 10px;
}

.navbar{
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 100%;
}