.question-ul{
    padding: 1%;
    height: auto;
    list-style: none;
    margin: 0 10px;
}

.question-ul li{
    margin-top: 15px;
    border-bottom: solid 1px #2b2b2b;
    overflow: hidden;
}

.avatar-group{
    width: auto;
    height: 100%;
    float: left;
}

.avatar-group .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.question-group{
    margin-left: 10px;
    float: left;
    width: 90%;
}

.question-title{
    margin-top: 5px;
    font-weight: 900;
}

.question-info{
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

.question-info .question-author{
    margin-right: 20px;
}
